<tr>
  <td>
    <%= link_to instance_company_path(instance,company) do %>
      <%= company.name %>
    <% end %>
  </td>
  <td>
    <% if company.director.present? %>
      <%= company.director.name %>
    <% end %>
  </td>
  <td>
    <ul class="list-unstyled">
      <% company.certificates.each do |certificate| %>
        <% if certificate.player.present? %>
            <li><%= certificate.percent %>% <%= certificate.player.try(:name) %></li>
        <% end %>
      <% end %>
    </ul>
  </td>
  <td>
    <% if company.charter_type == :major %>
      <% if player.can_set_par?(company) %>
        <%= bootstrap_form_tag url: set_par_and_buy_instance_company_path(instance, company), layout: :inline  do |f| %>
          <select class="form-control input-sm" name="par_value">
            <% Company::MajorCompany::PAR_VALUES.each do |par| %>
              <%= par_set_option(player, par) %>
            <% end %>
          </select>
          <%= f.submit('Set Par & Buy', class: 'btn btn-primary btn-sm') %>
        <% end %>
      <% elsif player.can_buy_share?(company) %>
        <%= bootstrap_form_tag url: buy_instance_company_path(instance, company), layout: :inline  do |f| %>
          <select class="form-control input-sm" name="par_value" disabled="true">
            <option><%= company.cost %></option>
          </select>
          <%= f.submit('Buy', class: 'btn btn-primary btn-sm') %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
