<tr>
  <td>
    <%= link_to instance_company_path(instance,company) do %>
      <%= company.name %>
    <% end %>
  </td>
  <td>
    <% if company.director.present? %>
      <%= company.director.name %>
    <% end %>
  </td>
  <td>
    <% if company.charter_type == :mountain %>
      <%= "Income #{guilder(company.income)}" %><br />
      <%= company.perk %>
    <% end %>
  </td>
  <td>
    <% if company.charter_type == :major %>
      <%= bootstrap_form_tag url: bid_instance_company_path(instance, company), layout: :inline  do |f| %>
        <select class="form-control input-sm" name="par_value">
          <option>67</option>
          <option>72</option>
          <option>77</option>
          <option>82</option>
          <option>87</option>
          <option>93</option>
        </select>
        <%= f.submit('Buy', class: 'btn btn-primary btn-sm') %>
      <% end %>
    <% end %>
  </td>
</tr>
