<tr>
  <td>
    <%= link_to instance_company_path(instance,company) do %>
      <%= company.name %>
    <% end %>
  </td>
  <td>
    <% if company.director.present? %>
      <%= company.director.name %>
    <% elsif company.bids.present? %>
      <ul class="list-unstyled">
        <% company.bids.each do |bid| %>
          <li>
            Bid of <%= guilder(bid.amount) %> by <%= bid.player.name %>
            <% if !bid.is_high_bid? && bid.player == instance.active_player %>
              <%= link_to 'Retract', instance_company_bid_path(instance, company, bid), method: :delete, class: 'btn btn-primary btn-xs' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </td>
  <td>
    <% if company.charter_type == :mountain %>
      <%= "Income #{guilder(company.income)}" %><br />
      <%= company.perk %>
    <% elsif company.charter_type == :local %>
      <i>Local</i>
    <% end %>
  </td>
  <td>
    <% if company.director.present? %>
      <%# nothing %>
    <% elsif company.buyable? && !instance.active_company.present? %>
      <% if instance.active_player.wallet >= company.cost %>
        <%= link_to "Buy for #{guilder(company.cost)}", auction_buy_instance_path(instance), class: 'btn btn-primary btn-sm', method: :post %>
      <% end %>
    <% elsif instance.active_company.nil? || instance.active_company == company %>
      <%= bootstrap_form_tag url: bid_instance_company_path(instance, company), layout: :inline  do |f| %>
        <%=
          f.number_field :amount, hide_label: true, class: 'input-sm', value: company.minimum_bid,
                                  append: f.submit('Bid', class: 'btn btn-primary btn-sm'),
                                  wrapper: { style: 'width: 100px' }
        %>
      <% end %>
    <% end %>
  </td>
</tr>
