<tr>
  <td>
    <%= link_to instance_company_path(instance,company) do %>
      <%= company.name %>
    <% end %>
  </td>
  <td>
    <% if company.director.present? %>
      <%= company.director.name %>
    <% end %>
  </td>
  <td>
    <ul>
    <% company.certificates.each do |certificate| %>
      <li>[<%= certificate.percent %>%: <%= certificate.player.try(:name) %>]</li>
    <% end %>
    </li>
  </td>
  <td>
    <% if company.charter_type == :major && player.can_set_par?(company) %>
      <%= bootstrap_form_tag url: set_par_and_buy_instance_company_path(instance, company), layout: :inline  do |f| %>
        <select class="form-control input-sm" name="par_value">
          <% Company::MajorCompany::PAR_VALUES.each do |par| %>
            <%= par_set_option(player, par) %>
          <% end %>
        </select>
        <%= f.submit('Set Par & Buy', class: 'btn btn-primary btn-sm') %>
      <% end %>
    <% end %>
  </td>
</tr>
