<tr>
  <td>
    <%= link_to instance_company_path(instance,company) do %>
      <%= company.name %>
    <% end %>
  </td>
  <td>
    <% if company.director.present? %>
      <%= company.director.name %>
    <% else %>
      <i>Cost <%= guilder(company.cost) %></i>
    <% end %>
  </td>
  <td>
    <% if company.income.present? %>
      Income <%= guilder(company.income) %>
    <% end %>
  </td>
  <td>
    <% if company.director.present? %>
      <%# nothing %>
    <% elsif company.buyable? %>
      <%= link_to 'Buy', auction_buy_instance_path(instance), class: 'btn btn-default btn-xs', method: :post %>
    <% elsif instance.auction? %>
      <%= link_to 'Bid', bid_instance_company_path(instance, company), class: 'btn btn-default btn-xs', method: :post %>
    <% else %>
      ...
    <% end %>
  </td>
</tr>
