<% if instance.operating_round_1? || instance.operating_round_2? || instance.operating_round_3? %>

  <b>Active Company</b> <%= instance.active_company.try(:name) %>
  |
  <b>Activity</b> <%= instance.from_round.activity %>

  <h3>Companies to Operate</h3>

  <ul>
    <% instance.from_round.company_turn_order.each do |company| %>
      <li><%= company.id %> - <%= company.name %> - <%=company.turn_order %></li>
    <% end %>
  </ul>

  <h3>Market</h3>

  <table class="market-table">
    <% instance.from_round.market.reverse.each_with_index do |row,y| %>
      <tr>
        <td colspan="<%=(6-y).abs+1%>" style="width: <%= 20*(6-y).abs+1 %>px"></td>
        <% row.each_with_index do |cell,x| %>
          <% next if cell[:value].nil? %>
          <td colspan="2" class="<%= (["market-cell"]+cell[:class]).join(' ') %>">
            <% cell[:companies].each do |company| %>
              <div class="market-token" style="background-color: <%= company.color %>">
                <%= company.abbr %>
              </div>
            <% end %>
            <div class="market-value"><%= cell[:value] %></div>
            <%#= "#{x},#{y}" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <svg id="major-map" width="<%= Map::Tile::W * 27 %>" height="<%= Map::Tile::H * 7 %>">
    <% instance.from_round.major_map.map.each_with_index do |(row,row_hash),y| %>
      <g class="map-row">
        <% row_hash.each_with_index do |(col,cell),x| %>
          <% next if cell.nil? %>
          <polygon transform="translate(<%= (x*2 + (y.even? ? 1 : 0))*Map::Tile::W/2 + Map::Tile::W/2 %>,<%= (y*0.75+0.5)*Map::Tile::H %>)" class="map-cell" points="<%= cell.points %>">

          </polygon>
        <% end %>
      </g>
    <% end %>
  </svg>

  <svg id="local-map" width="<%= Map::Tile::W * 6 %>" height="<%= Map::Tile::H * 2.5 %>">
    <% instance.from_round.local_map.map.each_with_index do |(row,row_hash),y| %>
      <g class="map-row">
        <% row_hash.each_with_index do |(col,cell),x| %>
          <% next if cell.nil? %>
          <polygon transform="translate(<%= (x*2 + (y.even? ? 1 : 0))*Map::Tile::W/2 + Map::Tile::W/2 %>,<%= (y*0.75+0.5)*Map::Tile::H %>)" class="map-cell" points="<%= cell.points %>">

          </polygon>
        <% end %>
      </g>
    <% end %>
  </svg>

<% end %>
