<% if instance.stock_round? %>

  <p>Currently in a stock round. Active player can sell any of their Major railway shares, and then buy one share/certificate. They can also pass. Round ends when all players pass consecutively.</p>

  <h3>Active Player's Certificates</h3>
  <ul>
    <% instance.active_player.certificates.each do |certificate| %>
      <li>
        <%= certificate.percent %>% in <%= certificate.company.name %>
        <% if certificate.optioned? %>
          (option)
        <% end %>
        <% if certificate.sellable? %>
          <%= link_to 'Sell', sell_instance_certificate_path(instance, certificate), class: 'btn btn-primary btn-xs', method: :post %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h3>Major Companies</h3>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Director</th>
      <th>Outstanding Shares</th>
      <th></th>
    </tr>
    <% instance.companies.find_all{ |c| c.charter_type == :major }.each do |company| %>
      <%= render 'company_stock', company: company, instance: instance, player: instance.active_player %>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td>
        <% if instance.active_company.nil? %>
          <%= link_to 'Pass', stock_pass_instance_path(instance), class: 'btn btn-primary btn-sm', method: :post %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
