<% if instance.operating_round_1? || instance.operating_round_2? || instance.operating_round_3? %>

  <b>Active Company</b> <%= instance.active_company.try(:name) %>
  |
  <b>Treasury</b> <%= instance.active_company.try(:treasury) %>
  |
  <b>Activity</b> <%= instance.from_round.activity %>

  <h3>Companies to Operate</h3>

  <ul>
    <% instance.from_round.company_turn_order.each do |company| %>
      <li><%= company.id %> - <%= company.name %> - <%=company.turn_order %></li>
    <% end %>
  </ul>

  <% if instance.from_round.activity_build_track? %>
    <%= link_to 'Build Track', bump_activity_instance_path(@instance), class: 'btn btn-warning btn-sm', method: :post %>
  <% end %>

  <h3>Market</h3>

  <table class="market-table">
    <% instance.from_round.market.reverse.each_with_index do |row,y| %>
      <tr>
        <td colspan="<%=(6-y).abs+1%>" style="width: <%= 20*(6-y).abs+1 %>px"></td>
        <% row.each_with_index do |cell,x| %>
          <% next if cell[:value].nil? %>
          <td colspan="2" class="<%= (["market-cell"]+cell[:class]).join(' ') %>">
            <% cell[:companies].each do |company| %>
              <div class="market-token" style="background-color: <%= company.color %>">
                <%= company.abbr %>
              </div>
            <% end %>
            <div class="market-value"><%= cell[:value] %></div>
            <%#= "#{x},#{y}" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= render 'map', instance: instance %>

<% end %>
