<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %> |
<%= link_to 'Players', instance_players_path(@instance) %>

<h1>Show Instance <%= @instance.id %></h1>

<p>
  <strong>Bank:</strong>
  <%= number_to_currency(@instance.bank, precision: 0, format: "%n %u", unit: 'G. ') %>
</p>
<p>
  <strong>Phase:</strong>
  <%= @instance.phase %>
</p>
<p>
  <strong>Round:</strong>
  <%= @instance.round_name.titleize %>
</p>

<%= link_to 'Bump Phase', bump_phase_instance_path(@instance), method: :post %>
<%= link_to 'Bump Round', bump_round_instance_path(@instance), method: :post %>
