<%= stylesheet_link_tag 'instances', media: 'all', 'data-turbolinks-track': 'reload' %>

<% content_for :nav do %>
  <ul class="nav navbar-nav">
    <li><%= link_to 'Back', instances_path %></li>
    <%# <li><%= link_to 'Edit', edit_instance_path(@instance) </li> %>
    <li><%= link_to 'Players', instance_players_path(@instance) %></li>
  </ul>
<% end %>

<div class="row col-md-12">
  <b>Bank</b> <%= guilder(@instance.bank) %> |
  <b>Phase</b> <%= @instance.phase %> |
  <b>Round</b> <%= @instance.round.to_s.titleize %> |
  <b>Active Player</b>
    <%= link_to [@instance, @instance.active_player] do %>
      <% @instance.active_player.try(:name) || '(none)' %>
    <% end %>
</div>

<div class="row col-md-12">
  <%= link_to 'Bump Phase', bump_phase_instance_path(@instance), class: 'btn btn-default btn-sm', method: :post %>
  <%= link_to 'Bump Round', bump_round_instance_path(@instance), class: 'btn btn-default btn-sm', method: :post %>
  <%= link_to 'Next Player', next_player_instance_path(@instance), class: 'btn btn-default btn-sm', method: :post %>
</div>

<h1><%= @instance.name %></h1>

<% if @instance.companies.present? %>
  <h2>Companies</h2>
  <table class="table">
    <% @instance.companies.each do |company| %>
      <%= render 'company', company: company, instance: @instance %>
    <% end %>
    <tr>
      <td colspan="3"></td>
      <td><%= link_to 'Pass', auction_pass_instance_path(@instance), class: 'btn btn-default btn-xs', method: :post %>
    </tr>
  </table>
<% end %>
