<p>This is a website for playing <a href="https://boardgamegeek.com/boardgame/183308/18441854">1854</a>. It's in dev right now.</p>

<%= link_to 'List Existing Instances', instances_path, class: 'btn btn-default' %>
<%= link_to 'Create an Instance', new_instance_path, class: 'btn btn-primary' %>

<svg id="local-map" width="<%=  Map::Tile::W * 6 %>" height="<%= 1+ Map::Tile::H * 2.5 %>">
  <g class="map-row" transform="translate(1,0)">
    <polygon transform="translate(<%= Map::Tile::W/2 %>,<%= Map::Tile::H %>)" class="map-cell" points="<%= Map::Tile.points %>">
    </polygon>
    <polygon transform="translate(<%= Map::Tile::W/2*3 %>,<%= Map::Tile::H %>)" class="map-cell map-yellow" points="<%= Map::Tile.points %>">
    </polygon>
    <polygon transform="translate(<%= Map::Tile::W/2*5 %>,<%= Map::Tile::H %>)" class="map-cell map-green" points="<%= Map::Tile.points %>">
    </polygon>
    <polygon transform="translate(<%= Map::Tile::W/2*7 %>,<%= Map::Tile::H %>)" class="map-cell map-brown" points="<%= Map::Tile.points %>">
    </polygon>
    <polygon transform="translate(<%= Map::Tile::W/2*9 %>,<%= Map::Tile::H %>)" class="map-cell map-grey" points="<%= Map::Tile.points %>">
    </polygon>
  </g>
</svg>
