<%= form_for [instance, player] do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field :instance_id, disabled: true %>
  <div class="row top-buffer">
    <div class="col-md-12">
      <%= f.submit 'Add Player', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
