<% content_for :nav do %>
  <ul class="nav navbar-nav">
    <li><%= link_to 'Back', @instance %></li>
  </ul>
<% end %>


<h2><%= @instance.name %> players</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td>
          <%= link_to [player.instance, player], class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Show
          <% end %>
          <% if @instance.setup? %>
            <%= link_to edit_instance_player_path(player.instance, player), class: 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            <% end %>
            <%= link_to [player.instance, player], method: :delete, class: 'btn btn-default btn-sm', data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td>
        <% if @instance.setup? %>
          <%= link_to new_instance_player_path, class: 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create
          <% end %>
        <% end %>
      </td>
    </tr>
  </tfoot>

</table>
