<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_instance_player_path(@player) %> |
<%= link_to 'Back', instance_players_path %>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Instance:</strong>
  <%= @player.instance %>
</p>
