<% content_for :nav do %>
  <ul class="nav navbar-nav">
    <li><%= link_to 'Back', instance_players_path %></li>
  </ul>
<% end %>

<p>
  <strong>Instance:</strong>
  <%= link_to 'Instance', @player.instance %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= guilder(@player.wallet) %>
</p>

<h2>Director of Companies</h2>

<ul class="list-unstyled">
  <% @player.directorships.each do |company| %>
    <li><%= company.name %></li>
  <% end %>
</ul>
