<!DOCTYPE html>
<html>
  <head>
    <title>Eighteen54</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Eighteen54</a>
        </div>
        <% if content_for? :nav %>
          <div id="navbar" class="navbar-collapse collapse">
            <%= yield :nav %>
          </div>
        <% end %>
      </div>
    </nav>


    <div class="container" role="main">

      <%= yield %>

    </div>
  </body>
</html>
